<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221779924622-g3kf2rt8f5a6vdlno5k5is40g29u5p74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221779924622-g3kf2rt8f5a6vdlno5k5is40g29u5p74</string>
	<key>API_KEY</key>
	<string>AIzaSyD2BudAoTP2kvBUKzR0UshBQkjZGt0HkHA</string>
	<key>GCM_SENDER_ID</key>
	<string>221779924622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtualEgypt</string>
	<key>PROJECT_ID</key>
	<string>virtual-egypte</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-egypte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221779924622:ios:0706d6e9fe52beba735bdf</string>
</dict>
</plist>